  <div class="container">
    <div class="column ">

<div class="profile-container">
        <h3 class="sectionFont is-size-3">
          In Theatres/Upcoming
        </h3>
        <button class="button is-medium" id="moreOutNow">More Movies!</button>
        <br>
        <br>
                <div class="columns" id="threeOutNow">
        </div>
</div>

            <div class="profile-container">
            <h3 class="sectionFont is-size-3">
              Popular
            </h3>
            <button class="button is-medium" id="morePopular">More Movies!</button>
            <br>
            <br>
          <div class="columns" id="threePopularMovies">
            </div>
          </div>
        </div>

